Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

Delete tests we no longer need
  rctab/tasks.py
  tests/test_routes/test_daily_routine_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add Celery loggers
  rctab/tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Use celery beat for daily tasks
  Dockerfile
  compose/docker-compose-local.yaml
  rctab/main.py
  rctab/tasks.py
  rctab/worker.py
  redis.conf
  scripts/prestart.sh
Due: black, isort, mypy, pylint, flake8, pydocstyle

Rename routine task tests
  rctab/tasks.py
  tests/test_routes/test_summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Remove unused import
  rctab/routers/accounting/summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add tests for celery tasks
  .github/workflows/test.yml
  rctab/tasks.py
  tests/test_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update fastapimsal library
  poetry.lock
  pyproject.toml
Due: none

CSP security headers / CSS formatting
  rctab/main.py
  rctab/routers/frontend.py
  rctab/static/css/styles.css
  rctab/templates/base_site.html
  rctab/templates/index.html
Due: black, isort, mypy, pylint, flake8, pydocstyle

UPDATED rctab/routers/frontend.py
  rctab/routers/frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

reformatting and removed unused css styles
  rctab/static/css/styles.css
Due: none

Add integrity checks to some js and css files
  rctab/templates/base_site.html
Due: none

Add test for home page template issues
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8

Bump version number
  pyproject.toml
Due: none

Remove redundant message
  pyproject.toml
Due: none

Fix formatting
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8

Allow inline styles and scripts, temporarily
  rctab/main.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Guard against empty RBAC lists
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add hashes for known style and script elements
  rctab/main.py
  rctab/static/scripts/tab_functions.js
  rctab/templates/signed_in_azure_info_details.html
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add usage data script
  .eslintrc.yaml
  rctab/static/scripts/usage_data.js
Due: none

Formatting
  rctab/templates/base_site.html
  rctab/templates/signed_in_azure_info_details.html
Due: none

Swap CSP for XFO iframe security options
  rctab/main.py
  rctab/static/css/styles.css
  rctab/static/scripts/tab_functions.js
  rctab/static/scripts/usage_data.js
  rctab/templates/azure_usage_info.html
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update usage_alert.html
  rctab/templates/emails/usage_alert.html
Due: none

Account for the --allocate option when handling -ve approvals
  poetry.lock
  rctab/routers/accounting/approvals.py
  tests/test_routes/test_approvals.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^alembic/
  pylint: any of: \.py$, but not: ^alembic/
  flake8: any of: \.py$
  pymarkdown: any of: \.(md|markdown|mdown)$, but not: .github/
  pydocstyle: any of: \.py$, but not: (?x)( alembic| tests| scripts )
