Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: 'https://github.com/gitleaks/gitleaks'
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
      - id: safety
        name: Safety
        # Ignore sql-alchemy and wheel vulnerabilities
        entry: poetry run safety check --full-report -i 51668
        pass_filenames: false
        language: system
      - id: mypy
        name: MyPy
        entry: poetry run mypy --install-types --non-interactive
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: pylint
        name: Pylint
        entry: poetry run pylint --rcfile=.python-lint
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: flake8
        name: Flake8
        entry: poetry run flake8
        language: system
        types: ['python']
      - id: pymarkdown
        name: PyMarkdown
        entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
        language: system
        types: ['markdown']
        exclude: .github/
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle --convention=google
        language: system
        types: ['python']
        exclude: (?x)(
            alembic|
            tests|
            scripts
          )
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.53.0'
    hooks:
      - id: eslint

Update actions
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
Due: none

mypy args
  .pre-commit-config.yaml
Due: none

Mypy debugging
  .pre-commit-config.yaml
  scripts/get_dev_data.py
Due: black, isort, mypy, pylint, flake8

mypy debug
  .github/workflows/linter.yml
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks revision Update mypy to 2+ Update actions Mypy debugging update pytest cov version Switch to pytest_asyncio.fixture decorator
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  rctab/routers/accounting/subscription.py
  scripts/get_dev_data.py
  tests/conftest.py
  tests/test_crud/test_auth.py
  tests/test_routes/conftest.py
  tests/test_routes/test_email_templates.py
  tests/test_routes/test_routes.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Clean up no_rollback_test_db
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8

Refactor auth fixtures and add authentication tests
  tests/conftest.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_authentication.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_desired_states.py
  tests/test_routes/test_status.py
  tests/test_routes/test_subscription.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Tidy authentication test comments
  tests/test_routes/test_authentication.py
Due: black, isort, mypy, pylint, flake8

Test coverage WiP
  scripts/runtests.sh
Due: none

Seed coverage badge branch
  badge.svg
Due: none

Fix CI coverage and surface it via badge + PR comment
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
  README.md
  pyproject.toml
  scripts/runtests.sh
Due: pymarkdown

Code comments
  scripts/runtests.sh
Due: none

Fix CI coverage reporting and surface it via badge + PR comment (#110)
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
  .github/workflows/safety.yml
  .github/workflows/test.yml
  README.md
  pyproject.toml
  scripts/runtests.sh
Due: pymarkdown

Bump version number
  pyproject.toml
Due: none

Bump version number (#111)
  pyproject.toml
Due: none

ci: Update coverage data
  data.json
  htmlcov/class_index.html
  htmlcov/function_index.html
  htmlcov/index.html
  htmlcov/status.json
  htmlcov/z_8a8e7552de987e81___init___py.html
  htmlcov/z_8a8e7552de987e81_constants_py.html
  htmlcov/z_8a8e7552de987e81_db_py.html
  htmlcov/z_8a8e7552de987e81_debug_py.html
  htmlcov/z_8a8e7552de987e81_exceptions_py.html
  htmlcov/z_8a8e7552de987e81_logutils_py.html
  htmlcov/z_8a8e7552de987e81_main_py.html
  htmlcov/z_8a8e7552de987e81_settings_py.html
  htmlcov/z_8a8e7552de987e81_tasks_py.html
  htmlcov/z_8a8e7552de987e81_utils_py.html
  htmlcov/z_ab530c55e4118bca_frontend_py.html
  htmlcov/z_c098a83cd6bdb85a___init___py.html
  htmlcov/z_c098a83cd6bdb85a_accounting_models_py.html
  htmlcov/z_c098a83cd6bdb85a_auth_py.html
  htmlcov/z_c098a83cd6bdb85a_models_py.html
  htmlcov/z_c098a83cd6bdb85a_utils_py.html
  htmlcov/z_de0e2a686d399a4e___init___py.html
  htmlcov/z_de0e2a686d399a4e_abolishment_py.html
  htmlcov/z_de0e2a686d399a4e_allocations_py.html
  htmlcov/z_de0e2a686d399a4e_approvals_py.html
  htmlcov/z_de0e2a686d399a4e_cost_recovery_py.html
  htmlcov/z_de0e2a686d399a4e_desired_states_py.html
  htmlcov/z_de0e2a686d399a4e_finances_py.html
  htmlcov/z_de0e2a686d399a4e_persistence_py.html
  htmlcov/z_de0e2a686d399a4e_routes_py.html
  htmlcov/z_de0e2a686d399a4e_send_emails_py.html
  htmlcov/z_de0e2a686d399a4e_status_py.html
  htmlcov/z_de0e2a686d399a4e_subscription_py.html
  htmlcov/z_de0e2a686d399a4e_summary_emails_py.html
  htmlcov/z_de0e2a686d399a4e_usage_py.html
Due: none

postgres locks
  .flake8
  rctab/crud/accounting_models.py
  rctab/crud/locks.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/usage.py
  tests/test_crud/test_locks.py
  tests/test_routes/conftest.py
  tests/test_routes/test_locks_integration.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add CI job to build HTML docs
  .github/workflows/test.yml
Due: none

Fix docs build: drop obsolete databases.Database patch
  docs/conf.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add CI job to build HTML docs (#112)
  .github/workflows/test.yml
  docs/conf.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Downgrade to the special alembic "base" commit
  scripts/runtests.sh
Due: none

Downgrade to the special alembic "base" commit (#113)
  scripts/runtests.sh
Due: none
