Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

Update fastapimsal version
  poetry.lock
Due: none

Fix unit tests
  rctab/routers/accounting/usage.py
  rctab/settings.py
  tests/test_routes/conftest.py
  tests/test_routes/test_abolishment.py
  tests/test_routes/test_status.py
  tests/test_settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit tests
  alembic/env.py
Due: black, isort, flake8

Fix get_subscription
  rctab/routers/accounting/subscription.py
  tests/test_routes/test_subscription.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Be explicit about which models we are returning
  rctab/routers/accounting/allocations.py
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Be explicit about which models we are returning
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Switch to fastapi lifespan for startup/shutdown handling
  rctab/main.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix typing of make_async_execute
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8

MyPy cache
  .github/workflows/linter.yml
Due: none

Add typing and linting to alembic/
  .pre-commit-config.yaml
  alembic/env.py
  alembic/versions/b65796c99771_squash.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

See https://github.com/python/mypy/issues/10768
  .github/workflows/linter.yml
Due: none

Add type checking to alembic/
  .pre-commit-config.yaml
  alembic/env.py
  alembic/versions/b65796c99771_squash.py
Due: black, isort, flake8

MyPy plugin
  .python-lint
  mypy.ini
Due: none

Monthly upload route
  rctab/routers/accounting/usage.py
  tests/data/example-monthly-wrong.json
  tests/data/example-monthly-wrong2.json
  tests/test_routes/test_finances.py
  tests/test_routes/test_status.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Use rctab-models instead of schema.py
  poetry.lock
  pyproject.toml
  rctab/crud/schema.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Use rctab-models instead of schema.py
  rctab/crud/__init__.py
  rctab/crud/auth.py
  rctab/routers/accounting/abolishment.py
  rctab/routers/accounting/allocations.py
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/desired_states.py
  rctab/routers/accounting/finances.py
  rctab/routers/accounting/persistence.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/status.py
  rctab/routers/accounting/subscription.py
  rctab/routers/accounting/usage.py
  rctab/routers/frontend.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_abolishment.py
  tests/test_routes/test_allocations.py
  tests/test_routes/test_approvals.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_desired_states.py
  tests/test_routes/test_email_templates.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_frontend.py
  tests/test_routes/test_persistence.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
  tests/test_routes/test_subscription.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Create SECURITY.md
  SECURITY.md
Due: pymarkdown

json -> model_dump_json
  tests/test_routes/api_calls.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_status.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Refer to correct test data file
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Swap depreceated json() for model_dump_json()
  tests/test_routes/api_calls.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

Bump minor version
  pyproject.toml
Due: none

test for post usage when combining usage items
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

added start and end date to AllUsage
  poetry.lock
  pyproject.toml
  rctab/routers/accounting/usage.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

two more post usage tests and updated a deprec fn
  rctab/routers/accounting/usage.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

alembic revision to alter usage pkey constraint
  alembic/versions/9f4b6184b2f8_drop_usage_pkey.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

remove duplicate constraint check for usage insert
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

monthly usage: delete existing rows within dates
  rctab/routers/accounting/usage.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Clarify cost recovery SQL queries
  sql/cost_recovery.sql
Due: none

Update setup instructions
  docs/content/setup.md
Due: pymarkdown

Update fastapi
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: none

With Poetry v2, run poetry check and fix errors
  poetry.lock
  pyproject.toml
Due: none

Bump poetry action version
  .github/workflows/linter.yml
  .github/workflows/test.yml
Due: none

Explicitly add poetry.group.main
  poetry.lock
  pyproject.toml
Due: none

Sanitise subscription status (hypothesis edge case)
  rctab/routers/accounting/status.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Replace deprecated func calls
  rctab/routers/accounting/allocations.py
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/finances.py
  rctab/routers/accounting/persistence.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/status.py
  rctab/routers/accounting/usage.py
  tests/conftest.py
  tests/test_routes/test_approvals.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_email_templates.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_frontend.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Bump API version number
  pyproject.toml
Due: none

Update linter.yml
  .github/workflows/linter.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

updated rctab-models dependency
  poetry.lock
  pyproject.toml
Due: none

alembic revision docstring and pylint ignore
  alembic/script.py.mako
  alembic/versions/9f4b6184b2f8_drop_usage_pkey.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^alembic/
  pylint: any of: \.py$, but not: ^alembic/
  flake8: any of: \.py$
  pymarkdown: any of: \.(md|markdown|mdown)$, but not: .github/
  pydocstyle: any of: \.py$, but not: (?x)( alembic| tests| scripts )
