Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: 'https://github.com/gitleaks/gitleaks'
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
      - id: safety
        name: Safety
        # Ignore sql-alchemy and wheel vulnerabilities
        entry: poetry run safety check --full-report -i 51668
        pass_filenames: false
        language: system
      - id: mypy
        name: MyPy
        entry: poetry run mypy --install-types --non-interactive
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: pylint
        name: Pylint
        entry: poetry run pylint --rcfile=.python-lint
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: flake8
        name: Flake8
        entry: poetry run flake8
        language: system
        types: ['python']
      - id: pymarkdown
        name: PyMarkdown
        entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
        language: system
        types: ['markdown']
        exclude: .github/
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle --convention=google
        language: system
        types: ['python']
        exclude: (?x)(
            alembic|
            tests|
            scripts
          )
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.53.0'
    hooks:
      - id: eslint

Update some dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump the version number
  pyproject.toml
Due: none

Update safety to v3
  .github/workflows/linter.yml
  .pre-commit-config.yaml
  .safety-policy.yml
  docs/content/setup.md
  poetry.lock
  pyproject.toml
Due: pymarkdown

Update fastapi, fastapimsal, mypy, etc
  alembic/versions/b65796c99771_squash.py
  docs/conf.py
  poetry.lock
  pyproject.toml
  rctab/__init__.py
  rctab/constants.py
  rctab/crud/__init__.py
  rctab/crud/accounting_models.py
  rctab/crud/auth.py
  rctab/crud/models.py
  rctab/crud/schema.py
  rctab/crud/utils.py
  rctab/debug.py
  rctab/logutils.py
  rctab/main.py
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/abolishment.py
  rctab/routers/accounting/allocations.py
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/desired_states.py
  rctab/routers/accounting/finances.py
  rctab/routers/accounting/persistence.py
  rctab/routers/accounting/routes.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/status.py
  rctab/routers/accounting/subscription.py
  rctab/routers/accounting/summary_emails.py
  rctab/routers/accounting/usage.py
  rctab/routers/frontend.py
  rctab/settings.py
  rctab/tasks.py
  rctab/utils.py
  scripts/get_dev_data.py
  tests/conftest.py
  tests/test_tasks.py
  tests/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Recent changes deserve a minor version increase
  pyproject.toml
Due: none

Account for the --allocate option when handling -ve approvals
  poetry.lock
  rctab/routers/accounting/approvals.py
  tests/test_routes/test_approvals.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Allow customisation of expiry email notification schedule
  pyproject.toml
  rctab/routers/accounting/send_emails.py
  rctab/settings.py
  tests/test_routes/test_send_emails.py
  tests/test_settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix test failures
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

Fix keys() deprecated warning
  rctab/routers/accounting/allocations.py
  rctab/routers/accounting/approvals.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix deprecation warnings from Jinja
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update GitHub Actions
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
  .github/workflows/linter.yml
  .github/workflows/test.yml
Due: none

Fixes #43. The name of the subscription is read from the last entry in the subscription_details table.
  rctab/routers/accounting/send_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Addresing safety issues
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: none

Fixing mypy issue
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

Not ready for numpy 2.0.0
  poetry.lock
  pyproject.toml
Due: none

Order allocation, approval, finance and cost-recovery rows desc by date
  rctab/routers/accounting/routes.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Correct docstrings/comments and ignore jinja2 vulnerability
  .safety-policy.yml
  rctab/routers/accounting/routes.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Run poetry lock
  poetry.lock
Due: none

Update deps
  poetry.lock
  pyproject.toml
Due: none

Update pydantic
  poetry.lock
  pyproject.toml
  rctab/settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update uvicorn
  poetry.lock
  pyproject.toml
Due: none

Bump minor version
  pyproject.toml
Due: none

Fix typing failures
  rctab/crud/schema.py
  rctab/settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update fastapimsal version
  pyproject.toml
Due: none
