Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: 'https://github.com/gitleaks/gitleaks'
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
      - id: safety
        name: Safety
        # Ignore sql-alchemy and wheel vulnerabilities
        entry: poetry run safety check --full-report -i 51668
        pass_filenames: false
        language: system
      - id: mypy
        name: MyPy
        entry: poetry run mypy --install-types --non-interactive
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: pylint
        name: Pylint
        entry: poetry run pylint --rcfile=.python-lint
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: flake8
        name: Flake8
        entry: poetry run flake8
        language: system
        types: ['python']
      - id: pymarkdown
        name: PyMarkdown
        entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
        language: system
        types: ['markdown']
        exclude: .github/
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle --convention=google
        language: system
        types: ['python']
        exclude: (?x)(
            alembic|
            tests|
            scripts
          )
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.53.0'
    hooks:
      - id: eslint

Add test for check_user_on_subscription
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Refactor rbac logic in details page
  rctab/routers/frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update integrity checks and schema name
  sql/cost_recovery.sql
Due: none

Allow fuzzy matching of ticket IDs in cost recovery queries
  sql/cost_recovery.sql
Due: none

Adds report - WIP - checks required
  alembic/versions/d682862a889a_create_azure_usage_report_table.py
  poetry.lock
  pyproject.toml
  rctab/crud/accounting_models.py
  rctab/crud/schema.py
  rctab/daily_routine_tasks.py
  rctab/routers/accounting/routes.py
  rctab/routers/frontend.py
  rctab/templates/azreport.html
  rctab/templates/azure_report.html
  rctab/templates/signed_in_azure_info_details.html
  rctab/templates/signed_in_base.html
  scripts/get_dev_data.py
  scripts/populate_local_db.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Don't rely on UUID(int=0) subscription existing in db
  rctab/daily_routine_tasks.py
  tests/test_routes/test_daily_routine_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add celery
  poetry.lock
  pyproject.toml
  rctab/main.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Proof of concept
  poetry.lock
  pyproject.toml
  rctab/main.py
  rctab/worker.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Use celery beat for daily tasks
  Dockerfile
  compose/docker-compose-local.yaml
  rctab/main.py
  rctab/tasks.py
  rctab/worker.py
  redis.conf
  scripts/prestart.sh
Due: black, isort, mypy, pylint, flake8, pydocstyle

Remove unused routine tasks code
  rctab/daily_routine_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Set timezone and remove prestart.sh from test scripts
  rctab/tasks.py
  scripts/runtests.sh
  scripts/testcode.sh
Due: black, isort, mypy, pylint, flake8, pydocstyle

Delete tests we no longer need
  rctab/tasks.py
  tests/test_routes/test_daily_routine_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Upgrade Python 3.10 -> Python 3.11 base image
  Dockerfile
Due: none

Add tests for celery tasks
  .github/workflows/test.yml
  rctab/tasks.py
  tests/test_tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Mention background tasks testing in setup docs
  docs/content/setup.md
Due: pymarkdown

Rename routine task tests
  rctab/tasks.py
  tests/test_routes/test_summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update Kusto query (traces -> AppTraces)
  docs/content/logging.md
Due: pymarkdown

Rename and move routine tasks to summary emails
  rctab/routers/accounting/summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Minor improvements
  scripts/prestart.sh
  tests/test_tasks.py
Due: black, isort, mypy, pylint, flake8

Remove celery log-to-file option
  scripts/prestart.sh
Due: none

Add Celery loggers
  rctab/tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update testing db to postgres 14
  scripts/runtests.sh
  scripts/testcode.sh
  tests/test_tasks.py
Due: black, isort, mypy, pylint, flake8

Fix issue with logger param name
  rctab/tasks.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Remove unused import
  rctab/routers/accounting/summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Bump version to 1.2.0
  pyproject.toml
Due: none
