Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: 'https://github.com/gitleaks/gitleaks'
    rev: v8.16.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.2.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        language: system
        types: ['python']
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: ['python']
      - id: safety
        name: Safety
        # Ignore sql-alchemy and wheel vulnerabilities
        entry: poetry run safety check --full-report -i 51668
        pass_filenames: false
        language: system
      - id: mypy
        name: MyPy
        entry: poetry run mypy --install-types --non-interactive
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: pylint
        name: Pylint
        entry: poetry run pylint --rcfile=.python-lint
        language: system
        types: ['python']
        exclude: ^alembic/
      - id: flake8
        name: Flake8
        entry: poetry run flake8
        language: system
        types: ['python']
      - id: pymarkdown
        name: PyMarkdown
        entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
        language: system
        types: ['markdown']
        exclude: .github/
      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle --convention=google
        language: system
        types: ['python']
        exclude: (?x)(
            alembic|
            tests|
            scripts
          )
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.53.0'
    hooks:
      - id: eslint

added app profile to docker compose unittest yaml
  compose/docker-compose-local-unittests.yaml
Due: none

use detach instead -d in docker compose in runtests.sh
  scripts/runtests.sh
Due: none

fix poetry install issue due to python3-dev
  Dockerfile
Due: none

use only one docker compose file / docs update
  compose/docker-compose-external.yaml
  compose/docker-compose-local-unittests.yaml
  compose/docker-compose.yaml
  docs/content/setup.md
  scripts/runtests.sh
Due: pymarkdown

pydantic[email]
  poetry.lock
  pyproject.toml
Due: none

Reformat pyproject.toml (to fix docs build)
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pylint, flake8, pydocstyle

git+https
  poetry.lock
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

USAGE_DICT
  pyproject.toml
  tests/test_routes/test_send_emails.py
Due: black, isort, mypy, pylint, flake8

postgres locks
  rctab/crud/accounting_models.py
  rctab/crud/locks.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/usage.py
  tests/test_crud/test_locks.py
  tests/test_routes/conftest.py
  tests/test_routes/test_locks_integration.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

handle abolished subscriptions (emails, cli, controller app)
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/desired_states.py
  rctab/routers/accounting/routes.py
  rctab/routers/accounting/send_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Install redis from normal package repos
  Dockerfile
Due: none

Don't safety scan .venv dir
  .pre-commit-config.yaml
  .safety-policy.yml
Due: none

Add sync_postgres_dsn
  alembic/env.py
  rctab/settings.py
  tests/test_settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Run pre-commit hooks
  rctab/crud/auth.py
  rctab/crud/models.py
  rctab/crud/utils.py
  rctab/main.py
  rctab/routers/accounting/__init__.py
  rctab/utils.py
  tests/conftest.py
  tests/test_routes/conftest.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/crud/accounting_models.py
  tests/conftest.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Pytest issue
  rctab/crud/accounting_models.py
  rctab/routers/frontend.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_frontend.py
  tests/test_routes/test_subscription.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

route tests
  .flake8
  tests/test_routes/test_frontend.py
  tests/test_routes/test_subscription.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8

Fix unit test failures
  rctab/crud/accounting_models.py
  rctab/crud/auth.py
  rctab/main.py
  rctab/routers/frontend.py
  tests/conftest.py
  tests/test_routes/test_routes.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Introduce new exception for handling insufficient privileges
  rctab/exceptions.py
  rctab/main.py
  rctab/routers/frontend.py
  rctab/templates/index.html
  rctab/templates/insufficient_privileges.html
  tests/conftest.py
  tests/test_routes/conftest.py
  tests/test_routes/constants.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Upgrade pip before running pre-commit checks
  .github/workflows/linter.yml
Due: none

Use fastapimsal v0.11
  poetry.lock
  pyproject.toml
Due: none

Bump version number
  pyproject.toml
Due: none

Revert "Introduce new exception for handling insufficient privileges"
  .github/workflows/linter.yml
  poetry.lock
  pyproject.toml
  rctab/exceptions.py
  rctab/main.py
  rctab/routers/frontend.py
  rctab/templates/index.html
  rctab/templates/insufficient_privileges.html
  tests/conftest.py
  tests/test_routes/conftest.py
  tests/test_routes/constants.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Poetry lock to capture re-release of v0.11 of fastapimsal
  poetry.lock
  pyproject.toml
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Specify a name when making approvals
  poetry.lock
  pyproject.toml
  rctab/routers/accounting/approvals.py
  rctab/routers/accounting/routes.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_approvals.py
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

model_dump_json() -> model_dump(mode=json)
  poetry.lock
  tests/test_routes/api_calls.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_status.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Finance and Allocation base models
  poetry.lock
  rctab/routers/accounting/routes.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_abolishment.py
  tests/test_routes/test_desired_states.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_status.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  poetry.lock
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

pre-commit-safety
  .github/workflows/safety.yml
  .pre-commit-config.yaml
  .pre-commit-safety.yaml
  mypy.ini
  rctab/crud/auth.py
  rctab/main.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/main.py
  tests/test_routes/conftest.py
  tests/test_routes/test_frontend.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_send_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Restore send_emails and email template tests on async SQLAlchemy
  rctab/routers/accounting/send_emails.py
  tests/test_routes/test_email_templates.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Cleaner _execute
  rctab/routers/accounting/send_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Restore persistence routes and tests on async SQLAlchemy
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/persistence.py
  rctab/routers/accounting/subscription.py
  tests/test_routes/test_persistence.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle
