Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

ongoing work to fix failing tests
  rctab/routers/accounting/usage.py
  tests/test_routes/test_send_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

ongoing work to fix tests (part 2)
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

ongoing work to fix fialed tests (part 3)
  tests/test_routes/test_send_emails.py
Due: black, isort, mypy, pylint, flake8

Remove deprecated calls to select(), insert(), etc
  rctab/crud/auth.py
  rctab/routers/accounting/abolishment.py
  rctab/routers/accounting/cost_recovery.py
  rctab/routers/accounting/desired_states.py
  rctab/routers/accounting/finances.py
  rctab/routers/accounting/routes.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/status.py
  rctab/routers/accounting/summary_emails.py
  rctab/routers/accounting/usage.py
  tests/test_routes/conftest.py
  tests/test_routes/test_abolishment.py
  tests/test_routes/test_cost_recovery.py
  tests/test_routes/test_desired_states.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
  tests/test_routes/test_transactions.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Remove old comments
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Typos
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add test for delete_usage
  tests/test_routes/test_routes.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Remove todo comment
  rctab/routers/accounting/usage.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

update deps
  poetry.lock
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update pydantic
  poetry.lock
  pyproject.toml
Due: none

Add SESSION_SECRET instructions
  docs/content/setup.md
  example.auth.env
Due: pymarkdown

Be explicit about db schema setup
  docs/content/setup.md
Due: pymarkdown

Generate SESSION_SECRET for unit tests
  .github/workflows/test.yml
Due: none

Run poetry update
  poetry.lock
  pyproject.toml
Due: none

Update version number and limit safety hook
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Don't re-install dependencies unless necessary
  Dockerfile
Due: none

Add 30 min timeout to gitleaks and deploy workflows
  .github/workflows/deploy.yml
  .github/workflows/gitleaks.yml
Due: none

unittests via docker: use docker compose
  compose/docker-compose-local-unittests.yaml
  scripts/runtests.sh
Due: none

Update fastapimsal tag
  poetry.lock
Due: none

Remove deprecated use of Template
  rctab/main.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix error on ARM64 arch when building Docker image
  Dockerfile
Due: none

Add sync_postgres_dsn
  alembic/env.py
  rctab/settings.py
  tests/test_settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Run pre-commit hooks
  rctab/crud/auth.py
  rctab/crud/models.py
  rctab/crud/utils.py
  rctab/main.py
  rctab/routers/accounting/__init__.py
  rctab/utils.py
  tests/conftest.py
  tests/test_routes/conftest.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/crud/accounting_models.py
  rctab/crud/auth.py
  rctab/main.py
  rctab/routers/frontend.py
  tests/conftest.py
  tests/test_routes/test_routes.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Pytest issue
  rctab/crud/accounting_models.py
  rctab/routers/frontend.py
  tests/test_routes/api_calls.py
  tests/test_routes/test_frontend.py
  tests/test_routes/test_subscription.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

route tests
  .flake8
  tests/test_routes/test_frontend.py
  tests/test_routes/test_subscription.py
  tests/test_routes/utils.py
Due: black, isort, mypy, pylint, flake8

Fix unit test failures
  rctab/routers/frontend.py
  tests/test_routes/test_frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/crud/accounting_models.py
  tests/conftest.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update compose/docker-compose-local-unittests.yaml
  compose/docker-compose-local-unittests.yaml
Due: none

Update scripts/runtests.sh
  scripts/runtests.sh
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^alembic/
  pylint: any of: \.py$, but not: ^alembic/
  flake8: any of: \.py$
  pymarkdown: any of: \.(md|markdown|mdown)$, but not: .github/
  pydocstyle: any of: \.py$, but not: (?x)( alembic| tests| scripts )
