Repository alan-turing-institute/rctab-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

pymarkdown:
  name: PyMarkdown
  entry: poetry run pymarkdown --strict-config --config .pymarkdown.json scan
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

Use transaction-bound DB override for persistence route tests
  tests/test_routes/test_persistence.py
  tests/test_routes/test_subscription.py
Due: black, isort, mypy, pylint, flake8

Restore summary email module and tests on async SQLAlchemy
  rctab/routers/accounting/summary_emails.py
  tests/test_routes/test_summary_emails.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Require a conn
  rctab/routers/accounting/summary_emails.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Make persistence update durable when notification fails
  rctab/routers/accounting/persistence.py
  tests/test_routes/test_persistence.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Restore abolishment module and migrate to async SQLAlchemy v2
  rctab/routers/accounting/abolishment.py
  tests/test_routes/test_abolishment.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore celery tasks module on async SQLAlchemy v2
  rctab/tasks.py
  tests/test_tasks.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore desired_states routes and migrate to async SQLAlchemy v2
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/desired_states.py
  tests/test_routes/test_desired_states.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore approvals routes and migrate to async SQLAlchemy v2
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/approvals.py
  tests/test_routes/test_approvals.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore allocations routes and migrate to async SQLAlchemy v2
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/allocations.py
  tests/test_routes/test_allocations.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore status routes and migrate to async SQLAlchemy v2
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/status.py
  tests/test_routes/test_status.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore usage route and tests on async SQLAlchemy
  rctab/crud/utils.py
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/usage.py
  tests/test_routes/test_usage.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore cost_recovery route and tests on async SQLAlchemy
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/cost_recovery.py
  tests/test_routes/test_cost_recovery.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Restore finances route and tests on async SQLAlchemy
  rctab/routers/accounting/__init__.py
  rctab/routers/accounting/finances.py
  tests/test_routes/test_finances.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Improve SQLAlchemy safety and test isolation
  rctab/db.py
  rctab/routers/accounting/finances.py
  tests/conftest.py
  tests/test_routes/test_finances.py
  tests/test_routes/test_routes.py
  todo.md
Due: black, isort, mypy, pylint, flake8, pymarkdown, pydocstyle

Stabilize SQLAlchemy async test isolation
  rctab/db.py
  tests/conftest.py
  tests/test_routes/test_persistence.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_subscription.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

disable pylint w0621
  tests/conftest.py
Due: black, isort, mypy, pylint, flake8

Run poetry update
  poetry.lock
Due: none

Restore and adapt send_emails route tests for SQLAlchemy
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

Fix restored send_emails fixture wiring and status test ordering
  tests/test_routes/test_send_emails.py
  tests/test_routes/test_status.py
Due: black, isort, mypy, pylint, flake8

SSL database connection params
  rctab/settings.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

SSL database connection tests
  .github/workflows/test.yml
  compose/docker-compose.yaml
  docs/content/setup.md
  scripts/runtests.sh
  scripts/testcode.sh
Due: pymarkdown

SSL database connection tests
  scripts/runtests.sh
  tests/test_settings.py
Due: black, isort, mypy, pylint, flake8

Update dependencies
  poetry.lock
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Run black on all files
  scripts/get_dev_data.py
  scripts/get_failed_emails.py
  scripts/populate_local_db.py
  tests/conftest.py
  tests/test_routes/test_usage.py
Due: black, isort, mypy, pylint, flake8

Debug github workflow
  .github/workflows/linter.yml
  .pre-commit-config.yaml
Due: none

Add get_subscription_id function
  rctab/routers/accounting/routes.py
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add /subscription-id route
  rctab/routers/accounting/subscription.py
  tests/test_routes/test_subscription.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8

Fix rebase issues
  rctab/routers/accounting/routes.py
  tests/test_routes/test_routes.py
  tests/test_routes/test_send_emails.py.backup
  tests/test_routes/test_subscription.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  rctab/routers/accounting/subscription.py
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix unit test failures
  tests/conftest.py
  tests/test_routes/conftest.py
  tests/test_routes/test_routes.py
Due: black, isort, mypy, pylint, flake8

Simplify auth_app_with_tx fixture
  rctab/routers/accounting/subscription.py
  tests/conftest.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Use more idiomatic sqlalchemy
  rctab/crud/auth.py
  rctab/routers/accounting/abolishment.py
  rctab/routers/accounting/routes.py
  rctab/routers/accounting/send_emails.py
  rctab/routers/accounting/usage.py
  rctab/routers/frontend.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update pre-commit hooks revision
  .pre-commit-config.yaml
Due: none

Update mypy and pytest versions
  poetry.lock
  pyproject.toml
  rctab/routers/accounting/subscription.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

x
  .pre-commit-config.yaml
Due: none

Update mypy to 2+
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^alembic/
  pylint: any of: \.py$, but not: ^alembic/
  flake8: any of: \.py$
  pymarkdown: any of: \.(md|markdown|mdown)$, but not: .github/
  pydocstyle: any of: \.py$, but not: (?x)( alembic| tests| scripts )
